<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">uh oh!</h1>
    <p class="lead">
      It seems like there was a problem! <br />Make sure you have no typos and
      try again!
    </p>
    <p>Your input: "<%= input %> "</p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/global.js"></script>

<%- include("partials/footer") %>
