<%- include("partials/header") %>

<input id="error-type" type="hidden" value="<%= errorType %> ">
<input id="weather-input" type="hidden" value="<%= input %> ">
<div class="jumbotron jumbotron-fluid">
  <div id="error-box" class="container"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/global.js"></script>
<script src="/js/404.js"></script>

<%- include("partials/footer") %>
<!--  -->